# Hide environment variables
.env

# Hide data 
/chroma_db/
/notion-api/notion_contents.json

# Ignore venv
/venv/
rag-notion-nextjs/
# Ignore test
/test/

# Ignore cache
**/__pycache__/**

# Mac hiden file
.DS_Store

# Ignore model cache directories
model_cache/
ui/model_cache/
.qodo
